# vim:ft=sh
{% if xmobar_weather_station is defined %}
WEATHER_STATION={{ xmobar_weather_station }}
{% endif %}
{% if xmobar_network_cards is defined %}
NETWORK_CARDS={{ xmobar_network_cards }}
{% endif %}
{% if xmobar_font_tailor is defined %}
FONT_TAILOR={{ xmobar_font_tailor }}
{% endif %}
