<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
  <mirrors>
    <mirror>
      <id>maven-default-http-blocker</id>
      <mirrorOf>.</mirrorOf>
      <name>Disable maven HTTP blocker</name>
      <url>http://0.0.0.0/</url>
    </mirror>
  </mirrors>
</settings>
