# vim:ft=gitconfig
[core]
	excludesFile = {{ install_dest }}/.config/git/.gitignore.global

[init]
	defaultBranch = master
[pull]
	rebase = true
[advice]
	addIgnoredFile = false

[user]
	name = Unoqwy
	email = julien.qwy@gmail.com
[commit]
	gpgsign = true
[credential]
	helper = store
