# vim:ft=gitconfig
[core]
	excludesFile = {{ install_dest }}/.config/git/.gitignore.global

[init]
	defaultBranch = master
[advice]
	addIgnoredFile = false

[user]
	name = Unoqwy
	email = pm@unoqwy.dev
	signingkey = 9A5F665FDA8BFA67
[commit]
	gpgsign = true
