# vim:ft=sh
{% if xmobar_network_cards is defined %}
NETWORK_CARDS={{ xmobar_network_cards }}
{% endif %}
{% if xmobar_font is defined %}
FONT="{{ xmobar_font }}"
{% endif %}
{% if xmobar_font_tailor is defined %}
FONT_TAILOR={{ xmobar_font_tailor }}
{% endif %}
