#!/usr/bin/env zsh
# vim: set ft=zsh
export GPG_TTY=$(tty)
export EDITOR=nvim

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATAT_HOME="$HOME/.local/share"

# Tools
export GOPATH="$HOME/go"

# PATH
export PATH="$PATH:{{ PATH | join(":") }}"

# priv repo overrides
if [[ -f "{{ install_src }}/priv/.zshenv" ]]; then
    source "{{ install_src }}/priv/.zshenv"
fi
