#!/bin/sh
export GPG_TTY=$(tty)
export EDITOR=nvim

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATAT_HOME="$HOME/.local/share"

# Tools
export GOPATH="$HOME/go"

# PATH
export PATH="{{ PATH | join(":") }}:$PATH"

# Fixes
export _JAVA_AWT_WM_NONREPARENTING=1

# priv repo overrides
if [[ -f "{{ install_src }}/priv/.zshenv" ]]; then
    source "{{ install_src }}/priv/.zshenv"
fi
