# vim:ft=dosini
[Trigger]
Operation = Upgrade
Type = Package
Target = discord-ptb
Target = unread-bell*

[Action]
Description = Patching DiscordPTB with unread-bell hook
When = PostTransaction
Depends = unread-bell
Exec = /bin/bash -c 'sudo -u {{ ansible_user_id }} /opt/unread-bell/discord-hook/patcher /home/{{ ansible_user_id }}/.config/discordptb'
